<h2>Users</h2>
<table>
	<thead>
		<tr>
			<th>Login</th>
			<th>Firstname</th>
			<th>Lastname</th>
		</tr>
	</thead>
	<% @users.each do |user|%>
		<tr>
		<td><%= user.nickname %></td>
		<td><%= user.firstname %></td>
		<td><%= user.lastname %></td>
		</tr>
	<% end %>
</table>